-var myVar = 'dog'
doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
		link(href="css/main.css", rel="stylesheet")
		title #{title}
		//- title= title

	body
		nav
			ul.nav-list
				li About the things
				li Cool Stuff #{myVar} to do

		block content
		script(src="js/main.js")
		