extends layout

block content
  h1 Should we legalize smoking marijuana in bars?
  p 
  #voterbox
    button(data-value='hellyes') Hell Yes!!!
    button(data-value='yes') Yes
    button(data-value='no') No

  #winner
