extends layout

block content
    .container
        .row
            .col-sm-6
                ul#tasks
                button.get-tasks Get Tasks
            .col-sm-6
                form.task-submit-form
                    .row
                        .col-sm-6
                            h1 Title
                            input(name="title")
                        .col-sm-6
                            h1 Description
                            input(name="description")
                    button.submit-task(type="submit") Submit Task
block scripts
    script(src="/main.js")
  