doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Untitled

	body
		//- <div><p>Hello</p></div>
		
		//- //- Can add content to element after a space
		//- p.my-paragraph.other-class.third-class This is a paragraph
		
		//- ul#my-list.other-class.third-class
		//- 	li
		//- 	li
		//- 	li
		
		//- div
		//- 	div
		//- 		div
		//- 			div
		//- 				div
		//- 					div
		//- 						div
		//- 							div
		//- 								| I am content in my direct parent
		//- //- <form class="" data-stuff=""></form>
		//- form(action="/formSubmit", method="POST")
		//- 	input(name="food")
		//- 	input(type="submit")







		block content

		div
			block otherContent
		